@import "tailwindcss";

/* Shared CSS Code */
.inter {
  font-family: "Inter", sans-serif;
}
.secondery-color {
  color: rgba(255, 255, 255, 0.8);
}
.third-color{
  color: rgba(255, 255, 255, .6);
}

/* CSS for Header */
/* Navbar */
.nav-links li a hr {
  border: none;
  width: 30%;
  height: 4px;
  background-color: #fb09b4;
  transition: width ease-in-out 0.2s;
}
.nav-links a:hover hr {
  width: 100%;
}
/* CSS for Intro Section */

.intro-section {
  background-image:
    url("../assets/microphone.png"), url("../assets/hero-circle.png"),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position:
    center 190px,
    center 100px,
    center;
}
.new {
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: relative;
  top: 150px;
  left: 150px;
}
.second-btn:hover {
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

/* CSS for about section */

.podcast-border {
  height: 6px;
  color: rgba(255, 255, 255, 0.1);
}

/* CSS for Reasoning Section */

.reasoning-box {
  background-color: rgba(53, 17, 101, 0.4);
}

/* CSS for Featured Episodes */
.time-icon{
  padding: 20px;
}

.feature-host{
  background-color: rgba(53, 17, 101, 0.4);
}

.host-icon a{
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  padding: 10px;
}

/* CSS for Footer section */
.footer{
  background-image: url('../assets/footer-bg.png');
  background-repeat: no-repeat;
}