@import "tailwindcss";

/* Shared CSS Code */
.inter {
  font-family: "Inter", sans-serif;
}

/* CSS for Header */
/* Navbar */
.nav-links li a hr {
  border: none;
  width: 30%;
  height: 4px;
  background-color: #fb09b4;
  transition: width ease-in-out 0.2s;
}
.nav-links a:hover hr {
  width: 100%;
}
/* CSS for Intro Section */

.intro-section {
  background-image:
    url("../assets/microphone.png"), url("../assets/hero-circle.png"),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position:
    center 190px,
    center 100px,
    center;
}
.new {
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: relative;
  top: 150px;
  left: 150px;
}
.second-btn:hover {
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
