@import "tailwindcss";

/* Shared CSS Code */
.inter {
  font-family: "Inter", sans-serif;
}
.secondery-color {
  color: rgba(255, 255, 255, 0.8);
}
.third-color{
  color: rgba(255, 255, 255, .6);
}

/* CSS for Header */
/* Navbar */
.nav-links li a hr {
  border: none;
  width: 30%;
  height: 4px;
  background-color: #fb09b4;
  transition: width ease-in-out 0.3s;
}
.nav-links a:hover hr {
  width: 100%;
}

.hamburger{
  display: none;
}
/* CSS for Intro Section */

.intro-section {
  background-image:
    url("../assets/microphone.png"), url("../assets/hero-circle.png"),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position:
    center 190px,
    center 100px,
    center;
}
.new {
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: relative;
  top: 150px;
  left: 150px;
}
.second-btn:hover {
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

/* CSS for about section */

.podcast-border {
  height: 6px;
  color: rgba(255, 255, 255, 0.1);
}

/* CSS for Reasoning Section */

.reasoning-box {
  background-color: rgba(53, 17, 101, 0.4);
}

/* CSS for Featured Episodes */
.time-icon{
  padding: 20px;
}

.feature-host{
  background-color: rgba(53, 17, 101, 0.4);
}

.host-icon a{
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  padding: 10px;
}

/* CSS for Footer section */
.footer{
  background-image: url('../assets/footer-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* CSS for different screen size */

@media screen and (max-width: 992px) and (min-width: 576px) {
  .nav-links{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  .hamburger{
    display: flex;
  }
  .reviews{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .about-para{
    padding: 0 100px;
    text-align: center;
  }
  .reasons{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .reason{
    grid-column: auto;
  }
  .iframe-box{
    flex-wrap: wrap;
  }
  .footer{
    padding: 50px 0;
  }
  .footer div{
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .footer h1{
    font-size: 3rem;
  }
  .footer p{
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .nav-links{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  .hamburger{
    display: flex;
  }
  .hero{
    padding-top: 28rem;
  }
  .hero h1{
    font-size: 4rem;
    margin-bottom: 2px;
  }
  .hero p{
    font-size: 1.5rem;
  }
  .hero-btn{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 48px;
  }
  .about-para{
    padding: 0 60px;
    text-align: center;
  }
  .reviews{
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .reasons{
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .reason{
    grid-column: auto;
  }
  .iframe-box{
    flex-wrap: wrap;
  }
  .feature-host{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .host-icon{
    justify-content: center;
  }
    .footer{
    padding: 20px 0;
  }
  .footer div{
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin: 16px 0;
  }
  .footer h1{
    font-size: 2rem;
  }
  .footer p{
    text-align: center;
  }
}